.friends-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  max-height: 48px;
  width: calc(100% - 16px);
  padding: 0 8px;
  font-size: 16px;
  border-bottom: 2px solid #26282c;
}

.friends-options {
  display: flex;
  justify-content: baseline;
  align-items: center;
  overflow: clip;
}

.title-wrapper{
  margin-right: 8px;
  min-width: 50px;
}

.title-wrapper h1 {
  font-weight: bold;
}

.friends-nav-icon {
  color: #80848e;
}

.nav-divider {
  min-width: 1px;
  max-width: 1px;
  height: 24px;
  margin: 0 8px;
  background: #4e50587a;
}

.options {
  display: flex;
  flex-wrap: wrap;
  min-width: 250px;
  overflow: clip;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 8px;
  padding: 2px 8px;
  height: 20px;
  color: #b5bac1;
  font-weight: 500;
  border-radius: 4px;
  max-width: 100px;
}

#friends-all {
  width: 24px;
}

.pending-alert {
  margin-left: 5px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 100%;
  background: #da373c;
  display: inline;
}

.option:hover {
  background: #43444b;
  color: #ffffff;
  cursor: pointer;
}

.add-friend, .add-friend:hover {
  background: #248046;
  color: #ffffff;
}

.add-friend.selected, .add-friend.selected:hover {
  background: none;
  color: #2dc770;
}

.selected {
  background: #43444b;
  color: #ffffff;
}

.selected:hover {
  background: #4e50584c;
}

.message-options {
  display: flex;
  justify-content: center;
  min-width: 100px;
}

.icon-wrapper {
  min-height: 24px;
  min-width: 24px;
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b5bac1;
  overflow: clip;
}

.icon-wrapper:hover {
  color: #dbdee1;
  cursor: pointer;
}

.icon-wrapper.no-hover:hover {
  cursor: auto;
}

.search-bar-wrapper {
  min-width: 100px;
  overflow-x: clip;
  margin: 14px 20px 8px 30px;
  display: flex;
  justify-content: center;
}

.friend-search-input {
  min-width: 45px;
  height: 34px;
  padding: 0 10px;
  margin: 1px 0px 1px 1px;
  font-size: 16px;
  line-height: 32px;
  flex-basis: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.friend-search-input::placeholder {
  color: #949ba4;
  opacity: 1;
}

.friend-search-input:-ms-input-placeholder {
  color:#949ba4;
}

.friend-search-input::-ms-input-placeholder {
  color: #949ba4;
}

.search-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1f22;
  height: 34px;
  min-height: 34px;
  width: 34px;
  min-width: 34px;
  color: #b5bac1;
  margin: 1px 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-right: 1px;
}

.search-icon {
  height: 20px;
  width: 20px;
}
