.main-logo {
  width: 60px;
  cursor: pointer;
}
.logo-text {
  font-size: 20px;
  color: #fff;
  font-weight: 800;
  margin: auto;
  cursor: pointer;
  position: relative;
  letter-spacing: 1.3px;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2),
    1px 1px 1px rgba(0, 0, 0, 0.6);
}
a {
  color: inherit;
  text-decoration: none;
}

a.concordia-logo {
  margin-left: -12%;
  display: flex;
}
