@font-face {
  font-family: "gg sans";
  src: url("../../assets/fonts/gg sans Regular.ttf");
}

@font-face {
  font-family: "gg sans";
  src: url("../../assets/fonts/gg sans Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "gg sans";
  src: url("../../assets/fonts/gg sans Semibold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "gg sans";
  src: url("../../assets/fonts/gg sans Bold.ttf");
  font-weight: 900;
}

.signup-link {
  font-size: 14px;
  margin-top: 4px;
  color: #949ba4;
}

.demo-container {
  display: flex;
  flex-direction: column;
}

.demo-buttons-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

.demo-button {
  width: 45%;
  height: fit-content;
  height: 40px;
  border-radius: 3px;
  border: none;
}

.demo-text {
  font-size: 14px;
  color: #b5bac1;
  margin-bottom: 8px;
}

.unauthorized-message {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fa777c;
  margin-bottom: 10px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00a8fc;
  color: #f2f3f5;

  background-size: cover;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  min-height: 100vh;
  min-height: 100svh;
}

.form-container {
  background-color: #313338;
  border-radius: 5px;
  padding: 32px;
  width: 414px;
  animation: enter 0.2s ease;
  animation-fill-mode: forwards;
  z-index: 10;
  font-family: "gg sans";
}

.login-signup {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.form-header {
  text-align: center;
}

.form-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-header span {
  font-size: 16px;
  color: #b5bac1;
}

.form-body {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-family: "gg sans";
}

label {
  flex-direction: column;
  font-weight: 900;
  font-size: 12px;
  margin-bottom: 8px;
  color: #b5bac1;
}

label.error {
  color: #fa777c;
}

.error-message {
  font-style: italic;
  font-weight: 500;
}

.required {
  color: #f23f42;
  padding-left: 4px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background: #1e1f22;
  color: white;
  margin-bottom: 20px;
  font-size: 16px;
}

input:focus {
  outline: none;
}

button {
  background-color: #5865f2!important;
  font-family: "gg sans";
  font-size: 16px;
  font-weight: bold;
  color: #f2f3f5;
  border-radius: 3px;
  border: none;
  padding: 2px 16px;
  height: 50px;
  margin-bottom: 8px;
  transition: background 0.2s;
}

button:hover {
  background: #4752c4;
  font-size: 16px;
  cursor: pointer;
}
.signup-link a {
  color: #00a8fc;
  text-decoration: none;
}
.login-link a:hover,
.signup-link a:hover {
  text-decoration: underline;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(-80px);
    scale: 1.1;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  }
}

@keyframes exit {
  from {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
    scale: 1.1;
  }
}

.form-body p {
  font-size: 14px;
  color: #b5bac1;
  margin-bottom: 8px;
}

.form-body p a {
  color: #00a8fc;
  text-decoration: none;
}

.login-link {
  font-size: 16px;
  margin-top: 4px;
}

.login-link a {
  color: #00a8fc;
  text-decoration: none;
}
